[Desktop Entry]
Version=1.0
Type=Application
Categories=Utility;
Terminal=false
Exec=APPIMAGE
Comment[sv_SE]=Applikation
Name=${APPNAME}
Comment=Servator application
Icon=${APP}
