#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Categories=Utility;
Terminal=false
Exec=AppRun
Comment[sv_SE]=Mall för applikationer
Name=App
Comment=Template application
Icon=app
